@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*{
    box-sizing: border-box;
}
nav 
{
    height:10vh;
}
nav h3{
    color:white;
}

html {
  font-size: 62.5%;
}
.left_menu
{
    background-color: rgb(16, 121, 121);
    width:20%;
    height:100vh;
    color:white;
    float:left;
}
.bt{
    width: 100%;
    margin:4%;
}
