@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*{
    box-sizing: border-box;
}
nav 
{
    height:10vh;
}
nav h3{
    color:white;
}


.left_menu
{
    background-color: rgb(16, 121, 121);
    width:20%;
    height:150vh;
    color:white;
    float:left;
}
.bt{
    width: 80%;
    margin:4%;
}
.content{
    background-color: #e0e0e0;
    height:150vh; 
    display:none;
}
form{
    color:white;
    width:80%;
}
.form-group{
    width:50%;
    display:inline-block;
    margin: 2% 5%;
    box-shadow: 9px 9px 19px 0px rgba(11,8,8,0.67);
-webkit-box-shadow: 9px 9px 19px 0px rgba(11,8,8,0.67);
-moz-box-shadow: 9px 9px 19px 0px rgba(11,8,8,0.67);
}
#butt{
    margin-left:5%;
    margin-top: 2%;
}
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
 * {
	 transition: all 0.3s ease-out;
}
 .container {
	 width: 100%;
	 height: 100vh;
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	 justify-content: center;
}
 h3 {
	 color: #262626;
	 font-size: 17px;
	 line-height: 24px;
	 font-weight: 700;
	 margin-bottom: 4px;
}
 p {
	 font-size: 17px;
	 font-weight: 400;
	 line-height: 20px;
	 color: #666;
}
 p.small {
	 font-size: 14px;
}
.records{
    display:inline-block;
    margin:4%;
    align-items: center;
    display:none;
}
 .card1 {
	 display: inline-block;
	 position: relative;
	 width: 850px;
	 background-color: #f2f8f9;
	 border-radius: 4px;
	 padding: 2% 2%;
	 margin: 2%;
     margin-left: 3%;
	 text-decoration: none;
	 z-index: 0;
	 overflow: hidden;
}
 .card1:before {
	 content: "";
	 position: absolute;
	 z-index: -1;
	 top: -16px;
	 right: -16px;
	 background: #00838d;
	 height:32px;
	 width: 32px;
	 border-radius: 32px;
	 transform: scale(1);
	 transform-origin: 50% 50%;
	 transition: transform 0.25s ease-out;
}
 .card1:hover:before {
	 transform: scale(91);
}
 .card1:hover p {
	 transition: all 0.3s ease-out;
	 color: #fff;
}
 .card1:hover h3 {
	 transition: all 0.3s ease-out;
	 color: #fff;
}
 