
html{
    box-sizing: border-box;
}
body{
    background-color: #f2f6ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container
{
    width: 400px;
    text-align: center;
    padding: 50px;
    margin-top: 4%;
    border-radius: 5px;
    background: #f2f6ff;
    box-shadow:  32px 32px 65px #ffffffd2, -32px -32px 65px #0000002f;
}
.form-container h3{
    font-size: 28px;
    font-weight: 800;
    margin: 15px 0;
}
.form-container p
{
    margin: 0 0 40px 0;
    font-size: 12px;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="number"]
{
    width:330px;
    height:40px;
    margin:8px 0;
    padding:20px;
    background-color: #f2f6ff;
    box-shadow: inset -4px -4px 4px #ffffffd2, inset 4px 4px 4px #0000002f;
}
::placeholder
{
    color: teal; 
}
h3,p
{
    color: teal;
}
.form-container .submit {
    width:230px;
    height:40px;
    margin:20 px 0;
    padding:0;
    color:white;
    background: linear-gradient(to right, rgb(24, 56, 24),teal);
    cursor:pointer;
    position:relative;
    transition: all 0.5s;
    overflow:hidden;
    margin-top: 5%;
}
.form-container .submit::after
{
    content:"";
    position:absolute;
    left:-20px;
    top:-20px;
    left:0;
    width:10px;
    height:80px;
    background-color: rgb(96, 163, 96);
    transform: rotate(30deg);
    filter:blur(10px);
    opacity:0.5;
    transition:0.5 ease-out;
}
.form-container .submit:hover::after{
    transform:translateX(270px) rotate(30deg);

}
.form-container .sign-in{
    margin:10px 0;
    font-size: 15px;
}
.form-container .sign-in a{
    color:teal;
}